.cookies__popup {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: rem(135px);
    background: $color_secondary;
    z-index: 10000;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;

    @include desktop_small {
        height: rem(115px);
    }

    @include tablet_small {
        height: auto;
    }

    & .cookies__popup_inner {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include tablet_small {
            flex-direction: column;
            gap: 15px;
            justify-content: center;
            padding-top: 25px;
            padding-bottom: 25px;
        }

        & .cookies__popup_info {
            max-width: 75%;

            @include tablet_small {
                max-width: 100%;
                text-align: center;
            }

            & p {
                @include FontFamilyEuropeNormal;
                color: $color_white;
                font-size: rem(18px);

                @include desktop_small {
                    font-size: rem(14px)
                }

                & a {
                    color: $color_primary;
                }
            }
        }

        & .cookies__popup_accept {

            @include tablet_small {
                width: 50%;
            }

            & .btn__primary {
                
                @include desktop_small {
                    font-size: rem(14px);
                }

                @include tablet_small {
                    width: 100%;
                }
            }
        }
    }
}

.cookies__popup_active {
    transform: translateY(0);
}