.directions {
	margin-top: rem(200px);

    & .directions__title {
        padding: 0 0 rem(60px) 0;

        & .directions__title_content {
            @include FontFamilyEuropeBold;
            font-size: rem(54px);
            color: $color_secondary;
            margin: 0;
            line-height: 120%;

            @include desktop_base {
                font-size: rem(46px);
            }

            @include tablet_small {
                font-size: rem(30px);
            }
        }

        @include desktop_base {
            padding: 0 0 rem(40px) 0;
        }
    }

    & .directions__accordions {
        display: flex;
        flex-direction: column;
        background-color: $color_white;
        box-shadow: 0px 4px 8px rgba(34, 60, 80, 0.15);
    }

    &  .directions__direction {
        position: relative;
        display: flex;
        justify-content: space-between;
        background-color: inherit;
        cursor: pointer;
        border-bottom: 2px solid $dark100;
        max-height: rem(127px);
        transition: max-height 0.4s ease;

        @include tablet {
            display: block;
        }

        @include tablet_small {
            max-height: rem(98px);
        }

        @include mobile_small {
            max-height: rem(68px);
        }

        & .direction__toggle_button {
            position: absolute;
            right: rem(41px);
            top: rem(41px);
            z-index: 2;

            & .direction__toggle {
                display: block;
                margin: 0;
                padding: 0;
                & svg {
                    height: rem(48px);
                    width: rem(48px);
                    stroke: $color_secondary;
                    transform: rotate(0deg);
                    transition: all 0.4s ease;

                    @include tablet_small {
                        width: rem(40px);
                    }

                    @include mobile_small {
                        width: rem(30px);
                    }

                    &:hover {
                        stroke: $color_secondary_hover;
                    }
                }
            }

            @include tablet_small {
                top: rem(25px);
                right: rem(20px);
            }

            @include mobile_small {
                top: rem(10px);
                right: rem(15px);
            }
        }
        & .direction__body {
            max-width: 56%;
            padding: rem(41px) rem(41px) rem(51px) rem(60px);

            @include tablet {
                max-width: 100%;
            }
            
            @include tablet_small {
                padding: rem(30px) rem(20px) rem(30px) rem(20px);
            }

            @include mobile_small {
                padding: rem(23px) rem(15px) rem(23px) rem(15px)
            }

            & .direction__title {
                & span {
                    @include FontFamilyEuropeBold;
                    font-size: rem(32px);
                    color: $color_secondary;

                    @include tablet_small {
                        font-size: rem(26px);
                    }

                    @include mobile_small {
                        font-size: rem(16px);
                    }
                }
            }

            & .direction__description {
                opacity: 0;
                visibility: hidden;
                width: 100%;
                transition: all 0.4s ease;
                & p {
                    color: $color_secondary;
                    margin-top: rem(20px);
                    margin-bottom: rem(50px);
                    font-size: rem(18px);

                    @include mobile {
                        margin-bottom: rem(20px);
                    }

                    @include mobile_small {
                        font-size: rem(14px);
                    }
                }
            }
        }

        & .direction__image {
            opacity: 0;
            visibility: hidden;
            line-height: 0;
            z-index: 1;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            transition: all 0.4s ease;
        }
    }

    & .directions__direction:last-child {
        border-bottom: 0;
    }

    & .active {
        & .direction__toggle_button .direction__toggle svg {
            transform: rotate(180deg);
        }
        & .direction__body .direction__description {
            opacity: 1;
            visibility: visible;
        }
        & .direction__image {
            opacity: 1;
            visibility: visible;

            @include tablet {
                display: none;
            }
        }
    }

    @include mobile {
		padding: 0;
    }

	@include desktop_base {
		margin-top: rem(120px);
	}
	@include tablet_small {
		margin-top: rem(60px);
	}
}