.footer {
    margin-top: rem(120px);
    background-color: $color_secondary;
    padding: rem(50px) 0 rem(20px) 0;

    @include tablet_small {
        margin-top: rem(60px);
    }

    & .footer__content {
        display: grid;
        grid-template-areas:
                'logo nav1 nav2 nav3 contacts'
                'legal legal legal legal legal';
        grid-template-columns: repeat(5, 1fr);
        gap: rem(50px) rem(30px);

        & a {
            transition: all 0.4s ease;

            &:hover {
                opacity: 0.8;
            }
        }

        & .footer__col_logo {
            grid-area: logo;

            & .logo {
                width: rem(172px);

                @include desktop {
                    width: rem(136px);
                }
            }

            @include tablet_small {
                display: flex;
                justify-content: center;
            }
        }

        & .footer__nav {
            
            & .footer__nav_heading {
                @include FontFamilyEuropeBold;
                font-size: rem(18px);
                margin-top: rem(8px);
                margin-bottom: rem(8px);
                color: $color_white;

                @include tablet_small {
                    font-size: rem(21px);
                }
            }

            & a .footer__nav_heading:first-child {
                margin-top: 0;
            }

            & .footer__nav_list {
                margin-bottom: rem(20px);
                & .footer__nav_item {
                    & a {
                        color: $color_white;
                        font-size: rem(14px);
                        line-height: 180%;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        & .col__nav1 {
            grid-area: nav1;
        }

        & .col__nav2 {
            grid-area: nav2;
        }

        & .col__nav3 {
            grid-area: nav3;
        }

        & .footer__col_contacts {
            grid-area: contacts;
            display: flex;
            flex-direction: column;
            gap: rem(12px);
            text-align: right;

            & .footer__phone {
               & a {
                    font-size: rem(18px);
                    color: $color_white;

                    @include tablet_small {
                        font-size: rem(22px);
                    }
                }
            }

            & .footer__address {
                & span {
                    font-size: rem(14px);
                    color: $color_white;
                }
            }

            & .footer__social_links {
                & a {
                    margin-left: rem(8px);

                    @include tablet_small {
                        & img {
                            width: rem(40px);
                        }
                    }
                }

            }
            @include desktop_small {
                text-align: left;
                flex-direction: row;
                justify-content: space-between;
            }

            @include tablet {
                flex-direction: column;
                justify-content: end;
                text-align: right;
            }

            @include tablet_small {
                text-align: center;
            }
        }

        & .footer__col_legal {
            grid-area: legal;
            border-top: 1px solid $color_white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: rem(20px);

            & span {
                color: $color_white;
                font-size: rem(14px);
            }

            & .footer__wptt {
                & a {
                    @include FontFamilyEuropeBold;
                    font-size: rem(14px);
                    color: $color_white;

                    @include tablet_small {
                        font-size: rem(16px);
                    }
                }
            }

            @include tablet_small {
                flex-direction: column;
                gap: rem(10px) 0;
            }
        }

        @include desktop_small {
            grid-template-areas:
                'logo nav1 nav2 nav3'
                'contacts contacts contacts contacts'
                'legal legal legal legal';
            grid-template-columns: repeat(4, 1fr);
        }

        @include tablet {
            grid-template-areas:
            'logo contacts contacts'
            'nav1 nav2 nav3'
            'legal legal legal';
            grid-template-columns: repeat(3, 1fr);
        }

        @include tablet_small {
            grid-template-areas:
            'logo'
            'nav1'
            'nav2'
            'nav3'
            'contacts'
            'legal';
            grid-template-columns: 1fr;
            gap: rem(30px) 0;
            text-align: center;
        }
    }
    @include tablet_small {
        padding: rem(60px) 0 rem(60px) 0;
    }
}
