.geography {
    margin-top: rem(120px);
    padding: rem(120px) 0 rem(120px) 0;
    background-color: $dark100;
    width: 100%;

    @include tablet_small {
		margin-top: rem(60px);
        padding: rem(60px) 0 0 0;
    }

    & .container__mobile_map {
        @media screen and (max-width: 1500px) {
            padding: 0 rem(128px);
        }

        @include desktop_small {
            padding: 0 rem(92px);
        }

        @include tablet_small {
          padding: 0;
        }
    }

    & .geography__title {
        padding-bottom: rem(60px);

        & .geography__title_content {
            @include FontFamilyEuropeBold;
            font-size: rem(54px);
            color: $color_secondary;
            margin: 0;
            line-height: 120%;

            @include desktop_base {
                font-size: rem(46px);
            }

            @include tablet_small {
                font-size: rem(30px);
            }
        }
    }

    & .geography__content {
        position: relative;
        width: 100%;

        @include tablet_small {
            height: rem(600px);
            overflow: scroll;
        }

        & .geography__map {
            & svg {
                width: 100%;

                & g *:hover {
                    stroke-width: 2px;
                }

                & .presence {
                    fill: #FFD130;
                }
            }

            @include tablet_small {
                display: flex;
                position: relative;
                top: 0;
                left: 0;
                width: rem(1000px);
                margin-left: rem(50px);
                margin-right: rem(50px);
            }
        }

        & .geography__pin {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            & .geography__pin_icon {
                width: 2vw;
                height: 3vw;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                cursor: pointer;

                &:hover svg path {
                    fill: $color_secondary_hover;
                }

				& svg path {
				    transition: all 0.2s ease;
				}

                @include tablet_small {
                    width: rem(35px);
                    height: rem(45px);
                }
            }

            & .geography__pin_mapbox {
                min-width: rem(230px);
                position: absolute;
                top: auto;
                bottom: 130%;
                visibility: hidden;
                opacity: 0;
                padding: rem(15px);
                background-color: $color_white;
                z-index: 9;
                transition: all 0.4s ease;
				box-shadow: 0px 4px 8px rgba(34, 60, 80, 0.15);

                @include desktop_small {
                    bottom: 50%;
                    transform: scale(0.8);
                }

                @include tablet {
                    bottom: 0;
                    transform: scale(0.7);
                }

                @include tablet_small {
                    position: fixed;
                    top: 20vw;
                    width: 92vw;
                    left: 4vw;
                    bottom: auto;
                    transform: scale(1);
                    transition: none;
                }

                & .geography__pin_mapbox_close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: rem(50px);
                    width: rem(50px);
                    cursor: pointer;
                    padding: rem(15px) rem(15px) 0 0;
                    display: flex;
                    justify-content: flex-end;

                    &::after {
                        content: '';
                        display: block;
                        width: rem(14px);
                        height: rem(14px);
                        background-image: url('@icons/close.svg');
                        background-repeat: no-repeat;
                    }

                    @include min_tablet_small {
                        display: none;
                    }
                }

                & .geography__pin_mapbox_city {

                    & span {
                        display: block;
                        @include FontFamilyEuropeNormal;
                        color: $dark500;
                    }

                    & b {
                        display: block;
                        @include FontFamilyEuropeBold;
                        color: $dark500;
                        word-wrap: break-word;
                    }
                }

                & .geography__pin_mapbox_customers {
                    margin-top: rem(15px);

                    & span {
                        display: block;
                        @include FontFamilyEuropeNormal;
                        color: $dark500;
                    }

                    & b {
                        display: block;
                        @include FontFamilyEuropeBold;
                        color: $dark500;
                        word-wrap: break-word;
                    }
                }

                & .geography__pin_mapbox_btn {
                    margin-top: rem(30px);
                    width: 100%;

                    & .btn__primary {
                        width: 100%;
                    }
                }
            }
        }

        & .geography__pin.active {

            & .geography__pin_mapbox {
                visibility: visible;
                opacity: 1;
            }

            & .geography__pin_icon svg path {
                fill: $color_secondary_pressed;
            }
        }
    }
}
