.header {
    background: 0 0;
    position: absolute;
    width: 100%;
    z-index: 10;

    & .header__long {
        height: rem(120px);
        width: 100%;

        @include desktop_base {
            display: none;
        }

        & .header__long_inner {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .header__long_nav {

                & .header__long_menu {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: rem(55px);
                    list-style: none;

                    & .menu__item {
                        & .menu__link {
                            font-size: rem(18px);

                            &::after {
                                height: rem(3px);
                            }
                        }
                        & .active {
                            @include FontFamilyEuropeBold;
                            font-size: rem(20px);

                            &::after {
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }

    & .header__short {
        display: none;
        height: 100%;
        width: 100%;
        color: $color_white;

        @include desktop_base {
            display: block;
        }

        & .header__short_top {
            background-color: transparent;
            transition: background-color 0.4s ease;
        }

        & .header__short_inner {
            height: rem(84px);
            width: 100%;
            background: transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .header__short_logo {
                width: rem(86px);

                @include mobile_small {
                    width: rem(72px);
                }
            }

            & .header__contact_phone {
                & .contact__phone {
                    @include FontFamilyEuropeNormal;
                    color: $color_white;
                    font-size: rem(14px);

                    @include mobile_small {
                        font-size: rem(11px);
                    }
                }
            }

            & .header__short_hamburger {
                height: rem(24px);
                width: rem(30px);
                position: relative;
                & .hamburger__close_icon {
                    padding-left: rem(3px);
                }

                @include mobile_small {
                    height: rem(30px);
                    width: rem(20px);
                }
            }

        }

        & .header__short_nav {
            opacity: 0;
            visibility: hidden;
            height: 0;
            width: 100%;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(23.5px);
            padding-top: rem(25px);
            transition: opacity 0.4s ease;

            & .header__short_menu {
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: rem(25px);

                & .menu__item {
                    & .menu__link {
                        font-size: rem(22px);
                    }
                }

                & .btn__primary {
                    font-size: rem(14px);
                    padding: rem(16px) 0;
                    width: 100%;                        
                }
            }
        }
    }
    
    .active {

        & .header__short_top {
            background-color: #253657;
        }

        & .header__short_nav {
            opacity: 1;
            visibility: visible;
            height: 100vh;
        }
    }
}