.news {
    margin-top: rem(120px);
    width: 100%;

		@include tablet_small {
			margin-top: rem(60px);
		}

    & .news__title {
        display: flex;
        justify-content: space-between;
        align-items: end;

        & .news__title_content {

            & h3 {
                @include FontFamilyEuropeBold;
                font-size: rem(54px);
                color: $color_secondary;
                margin: 0;
                line-height: 120%;

                @include desktop_base {
                    font-size: rem(46px);
                }

                @include tablet_small {
                    font-size: rem(30px);
                }
            }
        }

        & .news__title_all_news {
            margin-bottom: rem(7px);
            color: $color_secondary;
            font-size: rem(18px);
            border-bottom: 1px solid $color_secondary;
            transition: all 0.4s ease;
            cursor: pointer;

            &:hover {
                color: $color_secondary_hover;
                border-bottom: 1px solid $color_secondary_hover;
            }

            @include desktop_base {
                margin-bottom: rem(4px);
            }

            @include tablet_small {
                font-size: rem(16px);
            }
            
            @include mobile_small {
                font-size: rem(14px);
            }
        }
    }

    & .news__content {
        padding: rem(60px) 0 0 0;

        & .news__content_grid {
            padding: 0 0 rem(80px) 0;

            & .news__content_article {

                & a {
                    display: block;
                }

                &:hover .news__content_article_img::after {
                    opacity: 1;
                }

                & .news__content_article_img {
                    position: relative;
                    
                    & img {
                        width: 100%;
                        display: block;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        background-color: rgba($color: $color_secondary, $alpha: 0.5);
                        transition: opacity 0.4s ease;
                    }
                }

                & .news__content_article_date {
                    margin: rem(20px) 0 0 0;
                    & span {
                        font-size: rem(18px);
                        color: #888888;

                        @include desktop_base {
                            font-size: rem(16px);
                        }

                    }
                }

                & .news__content_heading {
                    margin: rem(8px) 0 0 0;
                    h3 {
                        margin: 0;
                        font-size: rem(18px);

                        @include desktop_base {
                            font-size: rem(16px);
                        }
                    }
                }
            }
        }

        & .swiper-pagination {

            & .swiper-pagination-bullet {
                width: rem(16px);
                height: rem(16px);
                background: $blue200;
            }

            & .swiper-pagination-bullet-active {
                background: $color_secondary_pressed;
            }
        }
    }
}
