.pagetitle {
    height: rem(900px);
    width: 100%;
    position: relative;

    & .title_overlay {
        height: 100%;
        width: 100%;
        background: rgba($color:$color_secondary, $alpha: 0.4);
        z-index: 5;
        position: relative;
    }

    & .video_background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 100%;

        & video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    & .title__content {
        max-width: 97%;
        padding-top: 15%;
        word-wrap: break-word;
        line-height: 120%;
        position: relative;
        z-index: 55;
        h1 {
            color: $color_white;
            @include FontFamilyEuropeBold;
            font-size: rem(72px);
            line-height: 120%;
            margin-bottom: rem(20px);

            & span {
                display: block;
                font-weight: 700;
                line-height: 120%;
            }

            @include desktop_base {
                font-size: rem(46px)
            }

            @include tablet_small {
                font-size: rem(34px);

                & span {
                    display: inline;
                }
            }

            @include mobile_small {
                font-size: rem(32px);

                & span {
                    display: inline;
                }
            }
        }

        .title__description {
            @include FontFamilyEuropeNormal;
            color: $color_white;
            font-size: rem(32px);
            line-height: 120%;

            @include desktop_base {
                font-size: rem(24px);
            }

            @include tablet_small {
                font-size: rem(22px);
            }

            @include mobile_small {
                font-size: rem(18px);
            }
        }

        @include tablet {
            padding-top: 25%;
            word-wrap: break-word;
        }
    }

    @include desktop_base {
        height: rem(800px);
    }

    @include tablet_small {
        height: rem(700px);
    }

    .statistic {
        margin-top: 19%;
        z-index: 5;
        position: relative;
        & .statistic__content {
            height: rem(265px);
            width: 100%;
            background-color: $color_secondary;
            background: linear-gradient(135deg, transparent rem(40px), $color_secondary 0);

            & .count__block {
                height: 100%;
                width: auto;
                background-size: 65%;
                background-repeat: no-repeat;
                background-position: center center;
                & .count__block_description {
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    padding: rem(50px) 0 rem(15px) 0;
                    & .count__total {
                        margin: 0;
                        padding-bottom: rem(10px);
                        @include FontFamilyEuropeBold;
                        font-size: rem(54px);
                        color: $color_white;

                        @include mobile_small {
                            font-size: rem(52px);
                        }
                    }

                    & .count__name {
                        font-size: rem(24px);
                        @include FontFamilyEuropeBold;
                        color: $color_white;
                        padding: 0 rem(10px);

                    }

                    & .count__descr {
                        font-size: rem(18px);
                        color: $color_white;
                        padding: rem(5px) rem(15px) 0 rem(15px);

                    }
                }

                @include mobile {
                    background-size: 50%;
                }
            }

            & .count__block_employess {
                background-image: url("@icons/employess.svg");
            }
            & .count__block_turnover {
                background-image: url("@icons/turnover.svg");
            }
            & .count__block_success {
                background-image: url("@icons/success.svg");
            }
            & .count__block_volume {
                background-image: url("@icons/volume.svg");
            }
        }
        @include desktop_base {
            margin-top: 10vh;
        }

        @include tablet_small {
            margin-top: 7vh;
        }
    }
}
