<div class="cookies__popup">
    <div class="container cookies__popup_inner">
        <div class="cookies__popup_info">
            <p>Мы используем файлы cookie. Чтобы улучшить работу сайта и предоставить вам больше возможностей. Продолжая использовать сайт, вы <a href="#" target="_blank">соглашаетесь с условиями использования</a> cookie.</p>
        </div>
        <div class="cookies__popup_accept">
            <a href="" class="btn__primary">Согласен</a>
        </div>
    </div>
</div>