<footer class="footer">
    <div class="container">
        <div class="footer__content animation__fade_in">
            <div class="footer__col_logo">
                <div class="logo">
                    <a href="/" class="logo__link"><img src="@icons/yugra-logo-white.svg" alt="" class="logo__image"></a>
                </div>
            </div>
            <div class="footer__nav col__nav1">
                <a href="#"><h2 class="footer__nav_heading">О компании</h2></a>
                <ul class="footer__nav_list">
                    <li class="footer__nav_item"><a href="#">Карьера</a></li>
                    <li class="footer__nav_item"><a href="#">Документанция</a></li>
                    <li class="footer__nav_item"><a href="#">Новости</a></li>
                    <li class="footer__nav_item"><a href="#">Лицензии</a></li>
                </ul>
                <a href="#"><h2 class="footer__nav_heading">Контакты</h2></a>
            </div>
            <div class="footer__nav col__nav2">
                <a href="#"><h2 class="footer__nav_heading">Проектирование</h2></a>
                <ul class="footer__nav_list">
                    <li class="footer__nav_item"><a href="#">Направления проектирования</a></li>
                    <li class="footer__nav_item"><a href="#">Значимые проекты</a></li>
                    <li class="footer__nav_item"><a href="#">Результаты проектирования</a></li>
                </ul>
                <a href="#"><h2 class="footer__nav_heading">Землеустройство</h2></a>
                <a href="#"><h2 class="footer__nav_heading">Авторский надзор</h2></a>
                <a href="#"><h2 class="footer__nav_heading">Системы качества</h2></a>
            </div>
            <div class="footer__nav col__nav3">
                <a href="#"><h2 class="footer__nav_heading">Изыскания</h2></a>
                <ul class="footer__nav_list">
                    <li class="footer__nav_item"><a href="#">Инженерно-геодезические изыскания</a></li>
                    <li class="footer__nav_item"><a href="#">Инженерно-геологические изыскания</a></li>
                    <li class="footer__nav_item"><a href="#">Инженерно-метеорологические изыскания</a></li>
                    <li class="footer__nav_item"><a href="#">Инженерно-экологические изыскания</a></li>
                    <li class="footer__nav_item"><a href="#">Оборудование и техника</a></li>
                </ul>
            </div>
            <div class="footer__col_contacts">
                <div class="footer__phone">
                    <a href="tel:+7 (347) 246-28-13">+7 (347) 246-28-13</a>
                </div>
                <div class="footer__address">
                    <span>450075, Россия, Башкортостан г. Уфа, пр. Октября, д. 151</span>
                </div>
                <div class="footer__social_links">
                    <a href="#"><img src="@icons/youtube.svg" alt=""></a>
                    <a href="#"><img src="@icons/vk.svg" alt=""></a>
                    <a href="#"><img src="@icons/telegram.svg" alt=""></a>
                </div>
            </div>
            <div class="footer__col_legal">
                <div class="footer__copyright">
                    <span>Copyrights © Югранефтегазпроект. 2023</span>
                </div>
                <div class="footer__wptt">
                    <span>Разработка сайта — </span><a href="https://wptt.ru/" target="_blank">Вебпространство</a>
                </div>
            </div>
        </div>
    </div>
</footer>