<header class="header">
    <div class="container">
        <div class="header__long animation__fade_in">
            <div class="header__long_inner">
                <div class="header__long_logo">
                    <div class="logo">
                        <a href="/" class="logo__link"><img src="@icons/yugra-logo-white.svg" alt="" class="logo__image"></a>
                    </div>
                </div>
                <nav class="header__long_nav">
                    <ul class="header__long_menu">
                        <li class="menu__item"><a href="#" class="menu__link">О Компании</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Направления</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Система качества</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Партнёрам</a></li>
                    </ul>
                </nav>
                <div class="header__contact_button">
                    <a href="tel:+7 (347) 246-28-13" class="btn__primary">Пригласить в тендер</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__short">
        <div class="header__short_top">
            <div class="container">
                <div class="header__short_inner animation__fade_in">
                    <div class="header__short_logo">
                        <div class="logo">
                            <a href="/" class="logo__link"><img src="@icons/yugra-logo-white.svg" alt="" class="logo__image"></a>
                        </div>
                    </div>
                    <div class="header__contact_phone">
                        <a href="tel:+7 (347) 246-28-13" class="contact__phone">+7 (347) 246-28-13</a>
                    </div>
                    <div class="header__short_hamburger">
                        <div class="hamburger">
                            <span class="hamburger__line"></span>
                            <span class="hamburger__line"></span>
                            <span class="hamburger__line"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="header__short_nav">
            <div class="container">
                <ul class="header__short_menu">
                    <li class="menu__item"><a href="#" class="menu__link menu__link_active">О Компании</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Направления</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Система качества</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Партнёрам</a></li>
                    <li class="menu__item"><a href="tel:+7 (347) 246-28-13" class="btn__primary btn__full_width">Пригласить в тендер</a></li>
                </ul>
            </div>        
        </nav>
    </div>
</header>