<script src="@scripts/main.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    const mainSwiper = new Swiper('.statisticSlider', {
        slidesPerView: 4,
        spaceBetween: 0,
        autoplay: {
            delay: 5000
        },
        breakpoints: {
            0: {
                slidesPerView: 1
            },
            576: {
                slidesPerView: 2
            },
            769: {
                slidesPerView: 3
            },
            1025: {
                slidesPerView: 4
            }
        }
    })

    const newsSwiper = new Swiper('.newsSlider', {
        spaceBetween: 30,
        loop: true,
        autoplay: {
            delay: 5000
        },
        breakpoints: {
            0: {
                slidesPerView: 1
            },
            576: {
                slidesPerView: 2
            },
            1025: {
                slidesPerView: 4
            }
        },
        pagination: {
            el: ".swiper-pagination",
        },
    })

</script>
