@font-face {
	font-family: Europe;
	font-display: swap;
	src: url("@fonts/Europe-Bold.woff2") format("woff2"), url("@fonts/Europe-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@mixin FontFamilyEuropeBold {
	font-family: Europe, sans-serif;
	font-weight: 700;
	line-height: 140%;
}

@font-face {
	font-family: Europe;
	font-display: swap;
	src: url("@fonts/Europe-Normal.woff2") format("woff2"), url("@fonts/Europe-Normal.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@mixin FontFamilyEuropeNormal {
	font-family: Europe, sans-serif;
	font-weight: 400;
	line-height: 140%;
}

