* {
  @include FontFamilyEuropeNormal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: $font_size;
  line-height: $line_height;
  color: $color-black;
}

input {
  background-color: inherit;
  font: inherit;
  border-width: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}

section {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.main {
  height: 100%;
  width: 100%;
}

.container {
  padding: 0 16px;

  @include min_mobile {
    padding: 0 32px;
  }

  @include min_desktop_medium {
    padding: 0 calc(50vw - 660px);
  }
}

.menu__item {
  .menu__link {
    @include FontFamilyEuropeNormal;
    font-size: rem(22px);
    color: $color_white;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -13px;
        width: 0%;
        height: 2px;
        background-color: $yellow400;
        transition: width 0.4s ease;
    }

    &:hover::after {
        width: 70%;
    }
  }

  & .menu__link_active {
    @include FontFamilyEuropeBold;

    &::after {
      width: 70%;
    }
  }
}

.btn__primary {
  @include FontFamilyEuropeNormal;
  text-align: center;
  padding: rem(14px) rem(30px);
  color: $darkbrown;
  font-size: rem(18px);
  background: linear-gradient(135deg, transparent rem(10px), $color_primary 0) top left,
    linear-gradient(-135deg, $color_primary rem(10px), $color_primary 0) top right,
    linear-gradient(-45deg, transparent rem(10px), $color_primary 0) bottom right,
    linear-gradient(45deg, $color_primary rem(10px), $color_primary 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  z-index: 1000;

    &::before {
      content: "";
      display: block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1000;
      transition: opacity 0.4s ease;
      background: linear-gradient(135deg, transparent rem(10px), $color_primary_hover 0) top left,
        linear-gradient(-135deg, $color_primary_hover rem(10px), $color_primary_hover 0) top right,
        linear-gradient(-45deg, transparent rem(10px), $color_primary_hover 0) bottom right,
        linear-gradient(45deg, $color_primary_hover rem(10px), $color_primary_hover 0) bottom left;
      background-size: 60% 60%;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      display: block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1000;
      transition: opacity 0.4s ease;
      background: linear-gradient(135deg, transparent rem(10px), $color_primary_pressed 0) top left,
        linear-gradient(-135deg, $color_primary_pressed rem(10px), $color_primary_pressed 0) top right,
        linear-gradient(-45deg, transparent rem(10px), $color_primary_pressed 0) bottom right,
        linear-gradient(45deg, $color_primary_pressed rem(10px), $color_primary_pressed 0) bottom left;
      background-size: 60% 60%;
      background-repeat: no-repeat;
    }

    &:hover::before {
      opacity: 1;
    }

    &:active::before {
      opacity: 0;
    }

    &:active::after {
      opacity: 1;
    }
}

.btn__secondary {
	padding: rem(17px) rem(32px);
	font-size: rem(18px);
  background-image: url('@icons/btn__secondary.svg');
  background-repeat: no-repeat;
  color: $color_secondary;
  transition: all 0.4s ease;
  text-align: center;

  &:hover {
    background-image: url('@icons/btn__secondary_hover.svg');
    color: $color_white;
  }

  &:active {
    background-image: url('@icons/btn__secondary_active.svg');
    color: $color_white;
  }

  @include mobile {
    padding: rem(17px) 0;
    width: 100%;
    display: block;
    background-image: url('@icons/btn__secondary_full_width.svg');

    &:hover {
      background-image: url('@icons/btn__secondary_full_width_hover.svg');
      color: $color_white;
    }

    &:active {
      background-image: url('@icons/btn__secondary_full_width_active.svg');
      color: $color_white;
    }
  }
}

.logo {
  height: 100%;
  width: 100%;

  & .logo__link {
    width: inherit;
    & .logo__image {
      width: inherit;
    }
  }
}

.hamburger {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;

  & .hamburger__line {
    position: absolute;
    right: 0;
    height: rem(2.5px);
    background-color: $color_white;
    border-radius: 1.5px;
    transition: all 0.2s ease;
    transform-origin: center center;

    &:nth-child(1) {
      top: 0;
      width: 75%;

      @include mobile_small {
        top: rem(8px);
      }
    }

    &:nth-child(2) {
      top: rem(10px);
      width: 100%;

      @include mobile_small {
        top: rem(15px);
      }
    }

    &:nth-child(3) {
      top: rem(20px);
      width: 45%;

      @include mobile_small {
        top: rem(22px);
      }
    }

    @include mobile_small {
      height: rem(2px);
    }
  }
}

.active {
  .hamburger__line {
    &:nth-child(1) {
        top: rem(10px);
        width: 100%;
        transform: rotate(-45deg);

        @include mobile_small {
          top: rem(15px);
        }
    }

    &:nth-child(2) {
        opacity: 0;
    }

    &:nth-child(3) {
        top: rem(10px);
        width: 100%;
        transform: rotate(45deg);

        @include mobile_small {
          top: rem(15px);
        }
    }
  }
}

@include desktop_extra_small {
  .animation__mobile_off {
    opacity: 1!important;
    transform: none!important;
    transition: none!important;
    transition-delay: unset;
  }
}

.animation__fade_in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease;
}

.animation__fade_in.show {
  opacity: 1;
  transform: translateY(0);
}

.animation__fade_in_delay  {
  transition-delay: 1s;
}