@function rem($size) {
   $remSize: calc($size / $font-size);
   @return #{$remSize}rem;
}

// font params
$font_size: 16px;
$line_height: 24px;

// Main colors
$color_white: #FFFFFF;
$color_black: #36260E;
$color_primary: #FFD12F;
$color_primary_pressed: #FFBF00;
$color_primary_hover: #FFF6D6;

// Secondary colors
$color_secondary: #16274A;
$color_secondary_hover: #6382C2;
$color_secondary_pressed: #0F1A31;

// Technical colors
$dark500: #1C1C1C;
$yellow400: #FFE06E;
$dark100: #F8F8F8;
$darkbrown: #36260E;
$blue200: #8B93A5;